@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
.App-container{
    font-family: 'Open Sans',sans-serif;
    background-color: #323544;
    color:black;
    list-style: none;
    height: 100vh;
    display: grid;
    grid-template-areas: "nav top-cards top-cards top-cards"
                        "nav bot bot bot"
                        "nav bot bot bot";
}

.Top-cards{
    margin-top:20px;
    grid-area: top-cards;
    display: flex;
    justify-content: space-evenly;
}

nav{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: nav;
    background-color:#F6F6F6;
    align-items:left ;
    width: 80%;
    padding:20px;
    margin: 20px;
}
.Bot{
    font-weight: 600;
    border-radius: 5px;
    margin:20px;
    grid-area: bot;
    background-color:#F6F6F6;
    padding:20px
}
.Cards{
    font-weight: 600;
    padding-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color:#F6F6F6;
    width: 25%;
    padding-left: 10px;
}

p{
    font-size: 2em;
}
#centeredCard{
    align-items: center;
}
li{
    width: 100%;
    font-weight: 600;
    background-color:#323544;
    line-height: 2em;
    
    color: #F6F6F6;
    text-align: center;
    border: 1px solid rgba(0,0,0,.5)
}

#centeredCard li{
    background-color: #F6F6F6;
    color: black;
    padding-left: 0px;
    margin: 0px;
    border:none;
}